.icon-marmita--social-youtube {
    background-image: url("youtube.png");
    height: 30px;
}
.icon-marmita--social-facebook {
    background-image: url("facecbook.png");
    height: 30px;
}
.icon-marmita--social-instagram {
    background-image: url("instagram.png");
    height: 30px;
}
.footer_coluna_social{
    display:flex;
    flex-direction: row;

}